
body{
    background-image: url("pic.jpg");
   
}

.container{
    
    font-weight: bold;
    
    
    
    
}
.main-d{
    margin-left: 860px;
    background-color: rgb(169, 222, 228);
    height: 600px;
    width: 600px;
   padding-left: 6%;
   
}
button{
    width: 150px;

}


